# Ignore everything
*

# Don't ignore the .gitignore file itself
!.gitignore

# Unignore the 'src' folder
!src/

# Unignore everything inside the 'src' folder
!src/**


!docker-compose.yml

!shared_config/

!shared_config/** 

!orchestrator.sh